@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'ms ui gothic';
    font-style: normal;
    src: local("MS UI Gothic"), url("../fonts/MS Gothic/MS Gothic.tff");
}
@font-face {
  font-family: 'ms sans serif';
  font-style: normal;
  src: local('Microsoft Sans Serif'), url('../fonts/Microsoft Sans Serif/micross.ttf');
}
@font-face {
  font-family: 'OratorSTD';
  font-style: normal;
  src: local('Orator Std'), url('../fonts/OratorSTD/OratorStd.otf');
}
@font-face{
	font-family:"Kozuka Gothic Pro";
	src: url("http://www.myfontfree.com/data/54/k/kozuka-gothic-pro/KozGoPro-Light.otf");
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icomoon.woff") format('woff');


}
