section
      .container
        h3#channel.channel channel
        p.channelkicker
          | My channel provides a variety of content aimed at different 
          br
          | audiences but the general audience are gamers.
        .button2
          a(href="http://youtube.com/c/epinggamingg").home-cta Discover The Channel
        .actualstuff
          .youtube-strip
          .benchmarks
            .text
              h1 benchmarks:
              p
                | I record videos on newly released games to show the viewer the performance of that game running on my hardware. To help them decide wether to buy the  game or the
                | hardware after seeing real world demos and benchmarks.
            .video
              iframe(frameborder='0', width='100%', height='100%', src='http://www.youtube.com/embed/aflzGPwy81s')
          .league
            .text
              h1 exlusive skin showcases:
              p
                | For my league of legends audience I make videos on pre-released skins on the
                | public-beta-enviroment to showcase that skin in action to let the player have
                | an idea of the skin and wether he wants to buy it before it hits the live servers.
            .video
              iframe(frameborder='0', width='100%', height='100%', src='http://www.youtube.com/embed/d9bIPHttv1w')
          .gameplays
            .text
              h1 gameplays:
              p
                | i record general purpose gameplays on various  games that i enjoy and upload
                | them to youtube in hopes to attract the viewer willing to enjoy that game.
                | sometimes i add performance counters to the video making it a benchmark at
                | the same time.
            .video
              iframe(frameborder='0', width='100%', height='100%', src='http://www.youtube.com/embed/J8sJ3rtzs0k')
