<section>
  <h3 id="about-me">about myself</h3>
  <div class="blurb">
  <p>
    <strong>My real name is Mayssen Aidoudi. </strong>I live in Tunisia
and I go by the name EPING on youtube
I am an inspired 16 years old student
 having the will to porsue my dreams
i’m a 3d designer, programmer, <a class="youtube-link" href="http://www.youtube.com/c/EpingGamingg">youtuber</a> and a <a class="steam-link" href="http://steamcommunity.com/id/EpingGaming/">gamer</a>.
  </p>
</div>


  <div class="lockup-about">
    <div class="icon-programmer" title="A Programmer">{% include icons/icon-programmer.html %}</div>
    <a class="icon-youtuber" href="http://www.youtube.com/c/EpingGamingg"><div class="icon-youtuber" title="A Youtuber">{% include icons/icon-youtuber.html %}</div></a>
    <a class="icon-gamer" href="http://steamcommunity.com/id/EpingGaming/"><div class="icon-gamer" title="A Gamer">{% include icons/icon-gamer.html %}</div></a>
    <div class="icon-designer" title="A Designer">{% include icons/icon-designer.html %}</div>
  </div>

</section>
