<section class="contact">
  <div class="containercontact">

    <h3 class="interact">interact with me</h3>
    <div class="social-links">
      <a href="#contact"><img src="../assets/img/facebook.png" height="100px" width="100px" ></a>
      <a href="https://twitter.com/Eping_Gaming" target="_blank"><img src="../assets/img/twitter.png" height="100px" width="100px" ></a>
      <a href="https://plus.google.com/+EpingGamingg" target="_blank"><img src="../assets/img/google.png" height="100px" width="100px" ></a>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KLALG4UXR9NPL" target="_blank"><img src="../assets/img/paypal.png" height="100px" width="100px" ></a>
      <a href="http://youtube.com/c/epinggamingg" target="_blank"><img src="../assets/img/youtube.png" height="100px" width="100px" ></a>
    </div>

    <hr class="bar">
    <h3 id='contact' class="contact">contact me</h3>
    <form action="https://formspree.io/maysseni@gmail.com"
      method="POST">

      <div class="contact-info">
        <label><span>Your Name</span>
          <input type="text" name="name"></label>


        <label><span>Your Email</span>
          <input type="email" name="_replyto"></label>
        </div>

      <label><span>Subject</span>
        <textarea name="message"></textarea></label>

        <div class="submit-wrap">
        <input type="submit" value="Send">
      </div>
    </form>
    <a class="biglink" id="biglink" href="mailto:maysseni@gmail.com">maysseni@gmail.com</a>
  </div>
</section>
