<footer>
<div class='lockup'>
  <a href="http://epingyt.com"><div class="logo" >{% include icons/logo.html %} </div></a>
  <a href="http://epingyt.com" class="eping-link-footer"><p class="eping">eping</p></a>
  <div class='content-wrap'>
   <nav>
     <a href="#about-me">About me</a>
     <a href="#channel">Channel</a>
     <a href="#contact">Contact</a>
   </nav>

    <p class="copyright">© all content copyright 2016 and all rights are reserved to mayssen aidoudi</p>
    <a href="http://www.dmca.com/Protection/Status.aspx?ID=33a5406f-f927-4d93-9bb8-8d6491bb9589" title="DMCA.com Protection Status" class="dmca-badge"> <img src="http://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=33a5406f-f927-4d93-9bb8-8d6491bb9589" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
  </div>
</div>

</footer>
